* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //overflow: hidden;
  background: $bg-color;
  font-family: $font-primary;
  font-weight: $font-w-regular;
  font-size: 16px;
  color: $text-primary;
}

img {
  max-width: 100%;
}

[x-cloak] {
  display: none !important;
}
