* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //overflow: hidden;
  background: $bg-color;
  font-family: $font-primary;
  font-weight: $font-w-regular;
  font-size: 16px;
  color: $text-primary;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(8,14,38);
}
::-webkit-scrollbar-thumb {
  background: rgb(12,21,72);
}

img {
  max-width: 100%;
}

[x-cloak] {
  display: none !important;
}
