$bg-color: #050711;

$text-primary: #fff;

$font-primary: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-w-light: 300;
$font-w-regular: 400;
$font-w-bold: 500;

$header-height: 50px;
$header-bg-color: #0f1628;
$header-logo-size: 90px;

$card-bg-color: #0e1425;
$card-description-size: 1.25rem;
$card-price-separator-width: 2px;