$bg-color: #0b1225;

$text-primary: #fff;

$font-primary: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-w-light: 300;
$font-w-regular: 400;
$font-w-bold: 500;

$header-min-height: 50px;
$header-bg-color: #131d36;
$header-logo-size: 90px;

$card-bg-color: #161f3b;