.beer-table {
  display: flex;
  flex-flow: row wrap;
  .column {
    flex-basis: 50%;
  }
  .beer-line {
    padding: 10px 5px 0;
    .beer-card {
      display: flex;
      flex-wrap: nowrap;
      padding: 3px 7px;
      border-radius: 5px;
      background: $card-bg-color;
      .new-label {
        position: absolute;
        padding: 3px 5px;
        line-height: 1;
        border-radius: 3px;
        background: #d00909;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
      }
      .cover {
        display: flex;
        position: relative;
        margin-right: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        background: transparent center no-repeat;
        background-size: cover;
        .new-label {
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      .info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 3;
        border-right: $card-price-separator-width solid darken($card-bg-color, 10);
        > .new-label {
          display: flex;
          align-items: center;
          top: 2px;
          right: 2px;
          padding-top: 4px;
          padding-bottom: 0;
          min-height: 22px;
          max-height: 22px;
        }
        .heading {
          padding-bottom: $card-description-size + .4rem; //reserved space for .description
          font-size: 2.3rem;
          .number {
            color: #eaea40;
          }
          .name {
            position: relative;
            font-weight: $font-w-bold;
            letter-spacing: 0.02em;
          }
          .new-label {
            top: -5px;
            right: 0;
            border-radius: 3px;
            font-size: .7rem;
            transform: translateX(calc(100% + 3px));
          }
        }
        .description {
          overflow-x: hidden;
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
          font-size: $card-description-size;
          &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 70px;
            background: linear-gradient(to left, $card-bg-color 30%, rgba(255,255,255, 0) 100%);
          }
          &, span {
            white-space: nowrap;
          }
          > span + span {
            position: relative;
            margin-left: 1px;
            padding-left: 10px;
            &:before { // Separator
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: rgb(#fff, .7);
            }
          }
          .country {
            text-transform: uppercase;
            .flag-icon {
              margin-left: 1px;
              width: .9em;
            }
          }
          .vendor {
          }
          .power {
            font-size: 1.14em;
            &:before { // Separator
              margin-top: 1px;
            }
            .unit {
              font-size: .9em;
            }
          }
          .ibu {
          }
          .category {
          }
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        flex-basis: 20%;
        min-width: 20%;
        max-width: 20%;
        border-left: $card-price-separator-width solid lighten($card-bg-color, 12);
        text-align: center;
        font-size: 1.5rem;
        font-weight: $font-w-bold;
        .unit{
        }
        .value {
          font-size: 2rem;
          color: #eaea40;
        }
      }
    }
  }
}