header.main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2px 35px;
  min-height: $header-height;
  max-height: $header-height;
  background: $header-bg-color;

  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: $header-logo-size;
    height: $header-logo-size;
    border-radius: 50%;
    background: $header-bg-color;
    transform: translateX(-50%);

    .happy-new-year {
      position: absolute;
      top: -15px;
      left: 17px;
      max-width: none;
      filter: saturate(.7);
    }
  }
}