header.main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 4px 35px;
  min-height: $header-min-height;
  background: $header-bg-color;

  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: $header-logo-size;
    height: $header-logo-size;
    border-radius: 50%;
    background: $header-bg-color;
    transform: translateX(-50%);
  }
}