.beer-table {
  display: flex;
  flex-flow: row wrap;
  .column {
    flex-basis: 50%;
  }
  .beer-line {
    padding: 10px 5px 0;
    .beer-card {
      display: flex;
      flex-wrap: nowrap;
      padding: 3px 7px;
      border-radius: 5px;
      background: rgba(0,0,0, .4);
      .cover {
        margin-right: 15px;
        width: 80px;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 3;
        border-right: 1px solid #0b0e1c;
        .heading {
          font-size: 2rem;
          .number {
            color: #eaea40;
          }
          .name {
            font-weight: $font-w-bold;
            letter-spacing: 0.02em;
          }
        }
        .description {
          > span + span {
            position: relative;
            margin-left: 1px;
            padding-left: 10px;
            &:before { // Separator
              content: '';
              display: block;
              position: absolute;
              top: 8px;
              left: 0;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: rgb(#fff, .7);
            }
          }
          .country {
          }
          .vendor {
          }
          .power {
          }
          .category {
          }
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        flex-basis: 25%;
        min-width: 25%;
        max-width: 25%;
        border-left: 1px solid #22305c;
        text-align: center;
        font-size: 1.5rem;
        font-weight: $font-w-bold;
        .unit{
        }
        .value {
          font-size: 1.7rem;
          color: #eaea40;
        }
      }
    }
  }
}